<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'bookmark/base.html' %}
    {% block title %}Detail{% endblock %}
    {% block content %}
    {{object.site_name}}<br/>
    {{object.url}}
    <br><br>
    <a href="{% url 'bookmark:update' pk=bookmark.id %}" class ="btn btn-success btn-sm"> Modify</a>
    <a href="{% url 'bookmark:delete' pk=bookmark.id %}" class ="btn btn-danger btn-sm">Delete</a>
    {% endblock %}
</body>
</html>